:root {
  --font-micro: 1rem;
  --font-small: 1.2em;
  --font-medium: 1.8rem;
  --font-large: 2.8rem;

  --color-black: #222222;
  --color-white: #ffffff;
  --color-lightgrey: #f7f7f7;
  --color-grey: #666666;
  --color-pink: #fe385d;
  --color-lightpink: #e54763;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: url("/img/home.jpg") center/cover;
  height: 700px;
  padding: 1.2em 0;
}

button {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 40px;
}

.top__logo {
  font-size: var(--font-medium);
}

.fa-airbnb,
.logo__name {
  color: var(--color-lightpink);
}

.logo__name {
  font-weight: 600;
}

.top__date {
  display: flex;
  justify-content: center;
}

.top__date__button,
.top__host,
.fa-globe,
.fa-bars {
  font-size: var(--font-micro);
  color: white;
}

.fa-user-circle {
  font-size: var(--font-medium);
}

.top__date__button {
  padding: 0.8em;
}

.top__date__button:hover {
  color: lightgrey;
}

.top__hostAndLogin {
  display: flex;
}

.top__login {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  padding: 0.5em;
  margin-left: 0.4em;
}

.fa-bars,
fa-user-circle {
  margin: 0 0.6em;
}

/* 완성 후 수정요망 */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-black);
  height: 400px;
  margin-top: 100px;
  font-size: var(--font-small);
}
/* 완성 후 수정요망 */

.home__search--button {
  font-size: var(--font-micro);
  background-color: var(--color-white);
  font-weight: bold;
  padding: 0.4em 3.2em;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s;
}

.home__search--button:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;
}

.search {
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
}

.title {
  font-size: var(--font-medium);
}

/* ------------------------------------ */
/* ------------------------------------ */
/*               MAIN                   */
/* ------------------------------------ */
/* ------------------------------------ */

.location__nearby {
  padding: 0 80px;
}

.location__img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.location__item {
  display: flex;
}

.nameAndMinutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.location {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.location__anywhere {
  padding: 0 80px;
}

.recommend {
  display: flex;
  justify-content: space-between;
  flex: 0 0 25%;
  margin: 0;
  padding: 0;
}

.imgAndTitle {
  display: flex;
  flex-direction: column;
}

.recommend__img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.recommend__travel--title {
  margin-top: 10px;
  font-weight: 500;
}

.hosting {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0 80px;
}

.hosting__img {
  width: 100%;
  height: 470px;
  border-radius: 10px;
}

.hosting__container {
  width: 50%;
  height: 100%;
  padding: 0 80px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-white);
}

.look__around {
  padding: 0 80px;
}

.experience {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.experience__img {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  transition: all 0.2s;
}

.experience__img:hover {
  transform: scale(1.02);
}

.experience__description--title {
  margin: 4px 0;
  font-size: 18px;
}

.title__description {
  font-size: 14px;
}

footer {
  background-color: var(--color-lightgrey);
  display: flex;
  flex-direction: column;
}

.footer__box {
  display: flex;
  justify-content: space-around;
}
.footer__title {
  padding: 22px 0px;
}

.footer__list {
  cursor: pointer;
  margin: 10px 0;
  color: var(--color-grey);
}

.footer__list:hover {
  text-decoration: underline;
}

.copyright {
  border-top: 1px solid lightgrey;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
